.main_image {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}
.featured_property_main p {
    color: rgb(0, 0, 0);
    font: 600 13px / 22px Tahoma;
}
.featured_property_main p span {

    color: rgb(0, 0, 0);
    font: 400 13px / 22px Tahoma;
}
/*
*
****   CONTACT ********  US   ***************\\\
*
*/
.content_main {
    padding-top: 26px;
}
.rightSideBar {
    padding-top: 32px;
}
.main_content {
    height: auto;
}



.contact_form_code input {
    height: 25px;
}
.contact_formBox {
    width: 417px;
}
.contact_formBox div {
    margin-top: 10px;
}
.contact_formBox form div label{
    display:  inline-block;
    width: 100px;
    text-align: right;
    color: rgb(0, 0, 0);
    font: 400 13px / 22px Tahoma;
}
.decoration_boxes {
    box-sizing: border-box;
    border: 1px solid #C9B993;
    background-color: #DDD0B2;
}
.contact_input {
    width: 300px;
    resize: none;
}
.address0, .address1 {
    width: 100px;
}
.address2 {
    width: 76px;
}
.contactFormS {
    float: none;
    margin-top: 0px;
    width: 138px;
}
.contact_form_message label, .contact_form_address label {
    float: left;
    margin-right: 4px;
}
.contact_form_code img {
    float: right;
    margin-right: 13px;
}
.contact_form_code input {
    box-sizing: border-box;
    border: 1px solid #C9B993;
    background-color: #DDD0B2;
}
.contact_form_city460 {
    display: none;
}

/*
*
********************     media queries  < 1000    ************************
*
*/
@media (max-width: 1000px) {
    .content_headertext1 {
        text-align: center;
    }
    .contact_formBox {
        margin: 0 auto;
    }
    .rightSideBar {
        width: 245px;
        height: auto;
    }
    .rightSideBar_wrapper {
        height: auto;
    }
    .rightSideBar {
        width: 520px;
    }
    .helpHeight {
        height: 440px;
    }
    .noFloat {
        float: none;
    }
    .widhtHelp {
        width: 245px;
    }
    .qc {
        width: 245px;
        float: none;
    }
}
/*
*
********************     media queries  < 790    ************************
*
*/
@media (max-width: 790px) {
    .helpHeight {
        height: auto;
    }
    .helpWrapper {
        float: none;
        margin: 0 auto;
    }
    .formContact {
        float: none;
    }
    .rightSideBar {
        width: 245px;
    }
}
/*
*
********************     media queries  < 500    ************************
*
*/
@media (max-width: 500px) {
    .rightSideBar {
        width: 100%;
    }
    .widhtHelp {
        width: 100%;
    }
}
/*
*
********************     media queries  < 460    ************************
*
*/
@media (max-width: 460px) {
    .contact_form_address label {
        top: 0px;
    }
    .contact_form_message label {
        top: 0px;
    }
    .contact_formBox {
        width: 100%;
    }
    .contact_form_city {
        display: none;
    }
    .contact_form_city460 {
        display: block;
    }
    .contact_formBox form div label {
        display: block;
        text-align: left;
    }
    .contact_input {
        width: 100%;
    }
    .contact_form_city460 {
        margin-top: 0px!important;
    }
    .contactCity {
        float: left;
        width: 33%;
    }
    .contactState {
        float: left;
        width: 33%;
    }
    .contactZip {
        float: left;
        width: 33%;
    }
    .address0 {
        width: 100%;
        box-sizing: border-box;
        padding: 0 2px;
    }
    .contactState label {
        display: block;
        width: 80%!important;
        box-sizing: border-box;
        padding: 0 2px;
        margin: 0 auto;
    }

    .address1 {
        display: block;
        width: 80%;
        box-sizing: border-box;
        padding: 0 2px;
        margin: 0 auto;
    }
    .address2 {
        width: 100%;
        box-sizing: border-box;
        padding: 0 2px;
    }
    .contact_form_code input {
        height: 25px;
    }
    .contact_form_code img {
        margin-right: 0px;
    }
    .contactButton {
        width: 100%;
    }
}