.gTitle {
    font-size:18px;
    color:#666666;
}
.gDesc {
    font-size:12px;
    color:#666666;
}
.pDesc {
    font-size:11px;
    color:#666666;
    clear: both;
    display: block;
    text-align: center;
    margin-top: 5px;
}
.galleryListLink {
    color: rgb(102, 102, 102);
    font: 600 15px / 22px Verdana;
}
a.galleryListLink:Link {
    text-decoration:none;
    font-size:15px;
    color:#666666;
}
a.galleryListLink:Active {
    text-decoration:none;
    font-size:15px;
    color:#666666;
}
a.galleryListLink:Visited {
    text-decoration:none;
    font-size:15px;
    color:#666666;
}
a.galleryListLink:Hover {
    text-decoration:none;
    font-size:15px;
    color:#000000;
}
.content_header {
    text-align: center;
}
.main_content {
    height: auto;
}
.clickBar {
    margin-top: 0;
}
.formContact {
    margin-top: 30px;
}
.gallery_title {
    height: 145px;
    margin: auto;
}
.titleImage {
    float: left;
}
.gallery_title_description {
    display: inline-block;
    color: rgb(102, 102, 102);
    font: 400 18px / 22px Tahoma;
    margin-left: 10px;
}
.gallery_image {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px 10px 0;
    height: auto;
    width: 120px;
}
.gallery_image_wrapper {
    margin: auto;
}
/*
*
********************     media queries  < 1000    ************************
*
*/
@media (max-width: 1000px) {
    .gallery_image_wrapper {
        width: 813px;
    }
    .gallery_title {
        width: 813px;
    }
    .main_content {
        height: auto;
    }
    .rightSideBar {
        display: block;
        margin: 20px auto 0 auto ;
    }

    .main {
        padding-bottom: 0;
    }
    .formContact {
        margin-top: 0px;
    }
}
/*
*
********************     media queries  < 890    ************************
*
*/
@media (max-width: 890px) {
    .gallery_image_wrapper {
        width: 677px;
    }
    .gallery_title {
        width: 677px;
    }
}
/*
*
********************     media queries  < 745    ************************
*
*/
@media (max-width: 745px) {
    .gallery_image_wrapper {
        width: 541px;
    }
    .gallery_title {
        width: 541px;
    }
}
/*
*
********************     media queries  < 598    ************************
*
*/
@media (max-width: 598px) {
    .gallery_image_wrapper {
        width: 405px;
    }
    .gallery_title {
        width: 405px;
    }
}
/*
*
********************     media queries  < 460    ************************
*
*/
@media (max-width: 460px) {
    .gallery_image_wrapper {
        width: 269px;
    }
    .gallery_title {
        width: 269px;
    }
    .gallery_title_description {
        float: left;
        width: 84px;
    }
}