.noResult {
    width: 523px;
    height: 118px;
    line-height: 118px;
    text-align: center;
    background-color: #ffffff;
    color: rgb(255, 0, 0);
    border: 1px solid #000;
    box-sizing: border-box;
    margin-top: 30px;
}
.plPagin {
    text-align: center;
}
.plPagin a {
    text-decoration: none;
    color: rgb(131, 201, 147);
    font: 600 13.3333px / 22px Verdana;
}
.plHead {
    color: rgb(90, 126, 65);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 20px;
}
.search_bar p {
    color: rgb(0, 0, 0);
    font: 600 14.6667px/ 22px Tahoma;
    margin-bottom: 5px;
}
.search_bar input {
    border-width: 1px;
    border-color: #000000;
    width: 70px;
    margin-bottom: 5px;
}
.content_main_lots {
    width: 525px;
    height: 122px;
    box-sizing: border-box;
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 10px 10px 0 10px;
    margin: 20px 0 0 0 ;
}
.lot_leftBar {
    width: 21.5%;
    float: left;
    min-width: 105px;
}
.lot_middleBar {
    width: 50%;
    float: left;
}
.lot_rightBar {
    width: 26.5%;
    float: left;;
}
.lots_anchor_image {
    float: left;
    box-sizing: border-box;
    border: 1px solid #000000;
    margin-right: 8px;
}
.lots_description {
    color: rgb(0, 0, 0);
    margin-top: 13px;
    font: 400 11px / 22px Tahoma;
    height: auto;
}
.lots_description a {
    color: rgb(128, 0, 0);
    font: 600 13px / 22px Verdana;
    text-decoration: none;
    height: auto;
}
.lots_head_name {;
    color: rgb(0, 0, 0);
    font: 600 14px / 22px Tahoma;
    height: auto;
}
.lots_head_type {
    font-weight: 400;
}
fieldset {
    border: 2px groove rgb(192, 192, 192);
    color: rgb(0, 0, 0);
    display: block;
    font: 400 14.6667px / 22px Tahoma;
    height: 67px;
    text-align: center;
    width: 122px;
    margin-left: 2px;
    margin-top: -5px;
}
legend {
    color: rgb(0, 0, 0);
    width: 72px;
    font: 600 13px / 22px Tahoma;
    text-align: center;
}
.lots_price p {
    color: rgb(0, 102, 0);
    font: 600 15px / 22px Tahoma;
    margin-top: 10px;
}
.lots_view a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font: 600 14px / 22px Verdana;
    margin-left: 12px;
}
.lots_id {
    margin-left: 58px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    display: inline;
    font: 400 12px / 22px Tahoma;
}
/*
*
********************     media queries  < 590    ************************
*
*/
@media (max-width: 590px) {
    .wrapperForLeftBar {
        width: 100%;
    }
    .content_main_lots {
        width: 100%;
    }
    .lot_middleBar {
        width: 56%;
    }
    .lot_rightBar {
        clear: left;
        width: 100%;
    }
    .content_main_lots {
        height: 245px;
    }
    .lots_price {
        width: 100%;
    }
    fieldset {
        width: 100%;
        margin: 0;
    }
    .lots_view {
        float: right;
        width: 100%;
        text-align: right;
    }
    .lots_id {
        float: right;
        margin: 0;
    }
    .noResult {
        width: 100%;
    }
}
/*
*
********************    FOR LOT   ************************
*
*/
.pl_head {
    color: rgb(90, 126, 65);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 10px;
    text-align: center;
}
.lot_box {
    color: rgb(128, 0, 0);
    width: 806px;
    height: auto;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid #000000;
    background-color: #ffffff;
    margin: 0 auto;
}
.money {
    color: rgb(102, 102, 102);
    font: 600 14px / 22px Tahoma;
    width: 75px!important;
}
.lotImage {
    float: left;
    margin-right: 5px;
}
.lotName {
    color: rgb(0, 0, 0);
    font: 400 14.6667px / 22px Tahoma;
}
.lotDescription {
    width: 243px;
    margin-left: 3px;
    color: rgb(102, 102, 102);
    font: 600 12px / 22px Tahoma;
}
.lotDescription span {
    font: 400 12px / 22px Tahoma;
}
.readMore {
    color: rgb(128, 0, 0);
    font: 600 12px / 22px Verdana;
    text-decoration: none;
}
.box {
    border-bottom: 1px dotted black;
    margin-left: 256px;
}
.box p {
    color: rgb(102, 102, 102);
    font: 400 12px / 22px Tahoma;
}
.box p span {
    width: 110px;
    display: inline-block;
}
.lotError {
    width: 100%;
    max-width: 806px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border: 1px solid#000;
    height: 150px;
    padding-top: 40px;
    box-sizing: border-box;
    color: red;
}
/*
*
********************     media queries  < 890    ************************
*
*/
@media (max-width: 890px) {
    .lot_box {
        width: 100%;
        height: auto;
    }
}
/*
*
********************     media queries  < 520    ************************
*
*/
@media (max-width: 520px) {

    .box p span {
        width: 65px;
    }
    .lot_box:after {
        content: "";
        display: block;
        clear: both;
    }
}
/*
*
********************     media queries  < 472    ************************
*
*/
@media (max-width: 472px) {
    .lot_rightBar {
    }
    .lot_leftBar {
        width: 110px!important;
    }
    .form_select {
        float: left;
        display: block;
    }
    .search_bar {
        height: 72px;
    }
    .search_bar input {
        position: relative;
        top: 0px;
        float: right;
    }
}
/*
*
********************     media queries  < 466    ************************
*
*/
@media (max-width: 466px) {
    .lot_box {
        padding: 5px;
    }
    .wrapperBox {
        float: left;
        width: 100%;
    }
    .lotImage {
        float: none;
        margin: 0 auto;
        width: 247px;
    }
    .lotDescription {
        float: left;
        width: 100%;
    }
    .lot_box hr {
        float: left;
        width: 100%;
    }
    .readMore_wrapper {
        float: left;
        width: 100%;
    }
    .box {
        margin-left: 0px;
    }
    .search_bar input {
        width: 70px;
    }
}